apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      - job_name: 'geth'
        static_configs:
          - targets: ['geth.ethereum.svc.cluster.local:6060']
        metrics_path: '/debug/metrics/prometheus'
      
      - job_name: 'prysm-beacon'
        static_configs:
          - targets: ['prysm-beacon.ethereum.svc.cluster.local:8080']
        metrics_path: '/metrics'
      
      - job_name: 'peer-monitor'
        static_configs:
          - targets: ['peer-monitor.ethereum.svc.cluster.local:8080']
        metrics_path: '/metrics'
