apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: geth-data
  namespace: ethereum
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Ti
  storageClassName: standard
