apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prysm-beacon-data
  namespace: ethereum
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
