{{- if .Values.jwt.secret }}
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: {{ .Values.namespace.ethereum }}
  labels:
    {{- include "ethereum-node.labels" . | nindent 4 }}
type: Opaque
stringData:
  jwt.hex: {{ .Values.jwt.secret | quote }}
{{- end }}
